/Leonid_Smirnov_todoapp/.env
/Leonid_Smirnov_todoapp/todo_project/secret_key.json
/Leonid_Smirnov_todoapp/todo_project/todo_workspace.code-workspace
/Leonid_Smirnov_todoapp/db.sqlite3
/todo_env
/Leonid_Smirnov_todoapp/todo_project/.vscode
